<%- include('partials/header'); -%>
<div class="content">
    <h2> <%=Title%></h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis ullam nostrum beatae ratione, dolorem itaque cum in et a optio nesciunt magni assumenda quis incidunt nemo amet quas. Eligendi, porro.</p>
</div>
</body>
<%- include('partials/footer'); -%>
