<%- include('header'); -%>
<div class="content">
    <h2> <%=Title%></h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor laudantium neque tempora quidem, amet quis placeat voluptatibus ullam est voluptatum hic voluptate dolore, libero, corrupti repellat assumenda saepe debitis expedita.</p>
</div>
</body>
<%- include('footer'); -%>
