<%- include('header'); -%>
<form action="/createBlog" method="POST">
    <div class="content">
        <h2> <%=Title%></h2>
            <h3>Title:</h3>
            <input class="titleInput" type="text" placeholder="Enter Blog's Title" name="newBlogTitle"></input>
            <h3>Content:</h3>
            <textarea class="contentInput" type="text" placeholder="Enter Blog's Content" name="newBlogContent"></textarea>
            <br>
            <button type="submit">Submit</button>
    </div> 
</form>
</body>
<%- include('footer'); -%>