<%- include('header'); -%>
<div class="content">
    <% for(let i = 0; i < blogsArray.length; i++){ %>
        <div>
            <h2> <%=blogsArray[i].blogTitle %></h2>
            <p><%=blogsArray[i].content %></p>
        </div>
    <%} %>
    <button>
        <a href="/createBlog">Create New Blog</a>
    </button>
</div>

<script>
    const divArray = document.querySelectorAll(".content div");
    for(let i = 0; i < divArray.length; i++){
        divArray[i].addEventListener("click", (e)=>{
            console.log(e.target);
        })
    }
</script>
</body>
<%- include('footer'); -%>
