:root{
    --big-text: 2rem;
    --small-text: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: black;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 0 10%;
}

.nav-bar p{
    font-size: var(--big-text);
    font-weight: bold;
}

.nav-bar ul{
    list-style: none;
}

.nav-bar ul li{
    display: inline-block;
    text-decoration: none;
    padding: 20px 10px;
}

.nav-bar ul li a{
    text-decoration: none;
    font-size: var(--small-text);
    font-weight: bold;
}

a:visited{
    color: black;
}

.nav-bar ul li:hover{
    background-color: rgb(225, 225, 225);
}

.content{
    padding: 10px 10%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content div{
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.5s;
}

.content div:hover{
    background-color: whitesmoke;
}

.content div h2{
    margin-bottom: 10px;
}

button{
    align-self: center;
    padding: 10px 20px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    transition: 0.5s;
    font-size: 1rem;
    font-weight: bold;
}
button:hover{
    background-color: rgb(225, 225, 225);

}

button a{
    text-decoration: none;
}

form h3{
    margin-top: 20px;
}

textarea, input{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1rem;
    margin-top: 10px;
}

.contentInput{
    height: 100px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: whitesmoke;
}