*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --big-text: 2rem;
    --small-text: 1.5rem;
    --background: linear-gradient(45deg, rgba(0, 102, 255, 0.367), rgba(117, 172, 255, 0.367), rgba(0, 102, 255, 0.367));
}

a{
    color: black;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    padding: 0 10%;
}

.nav-bar a{
    font-size: var(--big-text);
    font-weight: bold;
    text-decoration: none;
}

.nav-bar ul{
    list-style: none;
}

.nav-bar ul li{
    display: inline-block;
    text-decoration: none;
    padding: 20px 10px;
    transition: 0.5s;
}

.nav-bar ul li a{
    text-decoration: none;
    font-size: var(--small-text);
    font-weight: bold;
}

a:visited{
    color: black;
}

.nav-bar ul li:hover{
    background-color: rgba(117, 172, 255, 0.367);
}

.content{
    padding: 10px 10%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content .blog-container{
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.5s;
}

.content .blog-container:hover{
    background-color: rgba(117, 172, 255, 0.367);
}

.content .blog-container h2{
    margin-bottom: 10px;
}


.button-container{
    display: flex;
    gap: 30px;
    justify-content: center;
}



button{
    align-self: center;
    padding: 10px 20px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    transition: 0.5s;
    font-size: 1rem;
    font-weight: bold;
}
button:hover{
    background-color: rgba(117, 172, 255, 0.367);
}

button a{
    text-decoration: none;
}

form h3{
    margin-top: 20px;
}

textarea, input{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1rem;
    margin-top: 10px;
}

.contentInput{
    min-height: 200px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: var(--background);
}

a{
    background-color: linear-gradient;
}

